<h1>ASP.NET Core Reporting Application</h1>
<div class="row">
  <div class="col-md-4">
    <p>Application uses</p>
    <ul>
      
      <li>End-User Web Report Designer</li>
      <li>Web Document Viewer</li>
      <li>Sample pages using ASP.NET Core MVC</li>
      <li>Theming using Bootstrap</li>
    </ul>
  </div>
  <div class="col-md-4">
    <p>How to</p>
    <ul>
      <li>
        <a href="https://docs.devexpress.com/XtraReports/400039/getting-started-with-devexpress-reporting/adding-a-report-to-your-.net-application/adding-a-new-report-to-a-asp.net-core-application">Add a Report to an ASP.NET Core Application</a>
      </li>
      <li>
        <a href="https://docs.devexpress.com/XtraReports/400043/creating-end-user-reporting-applications/web-reporting/document-viewer/html5-document-viewer/quick-start/adding-the-document-viewer-to-an-asp.net-core-application">Add the Document Viewer to an ASP.NET Core Application</a>
      </li>
      <li>
        <a href="https://docs.devexpress.com/XtraReports/400042/creating-end-user-reporting-applications/web-reporting/report-designer/quick-start/adding-an-end-user-report-designer-to-an-asp.net-core-application">Add the End-User Report Designer to an ASP.NET Core Application</a>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <p>Overview</p>
    <ul>
      <li>
        <a href="https://docs.devexpress.com/XtraReports/2162/index">Reporting</a>
      </li>
      <li>
        <a href="https://docs.devexpress.com/XtraReports/119717/creating-end-user-reporting-applications/web-reporting/asp.net-core-reporting">ASP.NET Core Reporting</a>
      </li>
      <li>
        <a href="https://docs.devexpress.com/XtraReports/17738/creating-end-user-reporting-applications/web-reporting/document-viewer/html5-document-viewer">Web Document Viewer</a>
      </li>
      <li>
        <a href="https://docs.devexpress.com/XtraReports/17103/creating-end-user-reporting-applications/web-reporting/report-designer">Web Report Designer</a>
      </li>
    </ul>
  </div>
</div>