@inherits System.Web.Mvc.WebViewPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Server Side Information</title>
</head>
<body>
    <div style="font-size:200%">
        <p id="portNo"></p>
        <p>You can modify the Vue client settings in the <span style="color:red">JS\vue-report-designer\src\components\ReportDesignerComponent.vue</span> file.</p>
        <script>
            document.getElementById("portNo").innerHTML =
                "The backend application started at port " + window.location.port + ".";
        </script>
    </div>
</body>
</html>
